# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.swp

# Environment
.env
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3       # не ти трябва, защото използваш PostgreSQL
media/
staticfiles/

# PyCharm / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.egg-info/
di


*.zip

