asgiref==3.11.0
decouple==0.0.7
Django==6.0.1
gitdb==4.0.12
GitPython==3.1.46
gunicorn==25.1.0
packaging==26.0
pillow==12.1.0
psycopg2-binary==2.9.9
python-decouple==3.8
python-dotenv==1.2.1
smmap==5.0.2
sqlparse==0.5.5
