{% extends "common/base.html" %}

{% block content %}

<section class="moderator-summary">

    <h2>Dashboard</h2>
    <p class="muted">Welcome, {{ request.user.get_full_name|default:request.user.email }}!</p>

    <!-- PRODUCTS -->
    <div class="table-wrapper">
        <table class="dashboard-table">
            <thead>
                <tr>
                  <th>
    <div class="table-header-main">
        <span class="table-title">Products added by you:</span>
        <span class="table-count">{{ products|length }}</span>
    </div>
</th>
         <th class="icon-actions">
                        <a href="{% url 'product:create' %}">
                            <span class="material-icons">add</span>
                        </a>
                        <a href="{% url 'product:product_list' %}">
                            <span class="material-icons">visibility</span>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if products %}
                    {% for product in products %}
                    <tr>
                        <td>
                            <strong>{{ product.title }}</strong><br>
                            <span class="muted">{{ product.current_price }} €</span>
                        </td>
                        <td class="icon-actions">

                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>No products yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>


    <!-- FAVOURITE PRODUCTS -->
    <div class="table-wrapper">
        <table class="dashboard-table">
            <thead>
                <tr>

                    <th>
                            <div class="table-header-main">
        <span class="table-title">Your Favourite Products:</span>
        <span class="table-count">{{ favourite_products|length }}</span>
    </div>
                    </th>
                    <th class="icon-actions">
                        <a href="{% url 'product:product_favourite_list' %}">
                            <span class="material-icons">visibility</span>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if favourite_products %}
                    {% for product in favourite_products %}
                    <tr>
                        <td>
                            <strong>{{ product.title }}</strong><br>
                            <span class="muted">{{ product.current_price }} €</span>
                        </td>
                        <td class="icon-actions">

                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>No favourite products yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>


    <!-- ALERTS -->
    <div class="table-wrapper">
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>
                       <div class="table-header-main">
        <span class="table-title">Your tracks:</span>
        <span class="table-count">{{ alerts|length }}</span>
    </div>
                    </th>
                    <th class="icon-actions">
                        <a href="{% url 'alert:create' %}">
                            <span class="material-icons">add</span>
                        </a>
                        <a href="{% url 'alert:user-alert_list' %}">
                            <span class="material-icons">visibility</span>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if alerts %}
                    {% for alert in alerts %}
                    <tr>
                        <td>
                            <strong>{{ alert.product.name }}</strong><br>
                            <span class="muted">
                                Target: {{ alert.target_price }} €
                            </span>
                        </td>
                        <td class="icon-actions">

                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>No alerts yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>


    <!-- SUCCESSFUL TRACKS -->
    <div class="table-wrapper">
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>
                         <div class="table-header-main">
        <span class="table-title">Your Successful tracks:</span>
        <span class="table-count">{{ archives|length }}</span>
    </div>
                    </th>
                    <th class="icon-actions">
<a href="{% url 'alert:user-history_list' %}">
                            <span class="material-icons">visibility</span>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if archives %}
                    {% for archive in archives %}
                    <tr>
                        <td>
                            <strong>{{ archive.product_title }}</strong><br>
                            <span class="highlight">
                                Saved {{ archive.saved_money_eur }} €
                            </span>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>No successful tracks yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</section>

{% endblock %}