{% extends "common/base.html" %}
{% load static %}

{% block content %}
<section class="header-content">

<div class="profile-container">
    <h1>{{ profile.user.get_full_name|capfirst }} Profile</h1>

    <div class="profile-card">

        <div class="profile-info">
            <img src="{{ profile.avatar|default:'/static/img/alt_picture.png' }}" alt="Profile avatar" width="65" height="65">
            <p><strong>Username:</strong> {{ profile.user.get_username }}</p>
            <p><strong>Email:</strong> {{ profile.user.email }}</p>
            <p><strong>First name:</strong> {{ profile.user.first_name|capfirst }}</p>
            <p><strong>Last name:</strong> {{ profile.user.last_name|capfirst }}</p>
            <p><strong>Joined:</strong> {{ profile.user.date_joined|date:"d M Y" }}</p>
        </div>

        <div class="profile-actions">

            <a href="{% url 'accounts:dashboard' %}" class="btn">
                Dashboard
            </a>

            <a href="{% url 'accounts:profile-edit' %}" class="btn">
                Edit Profile
            </a>

        </div>
    </div>
<br>

    <div>
            <form action="{% url 'accounts:logout' %}" method="post" class="like-form">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">
                    Logout
                </button>
                {% if request.user == profile.user %}
         <a href="{% url 'accounts:profile-delete' %}" class="btn btn-danger">
                Delete Profile
            </a>
    {% elif perms.accounts.delete_appuser %}
      <a href="{% url 'accounts:profile-delete-manager' pk=profile.user.pk %}" class="btn btn-danger">
                Delete Profile
            </a>
        {% endif %}
            </form>

{#pk=profile.user.pk#}

        </div>

    </div>

 <div id="circle">
        <h1>You saved</h1>
        <h2>{{ money_saved }} €</h2>
        <small>Total real money saved</small>
    </div>
</section>

{% endblock %}