{% extends "common/base.html" %}
{% load static %}

{% block content %}

<div class="profile-container">

    <h1>User Profile</h1>

    <div class="profile-card">

        <div class="profile-info">
            <img src="{{ profile.avatar|default:'/static/img/alt_picture.png' }}" alt="Profile avatar" width="65" height="65">
            <p><strong>Username:</strong> {{ request.user.get_username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>First name:</strong> {{ request.user.first_name }}</p>
            <p><strong>Last name:</strong> {{ request.user.last_name }}</p>
            <p><strong>Joined:</strong> {{ request.user.date_joined|date:"d M Y" }}</p>
        </div>

        <div class="profile-actions">

            <a href="{% url 'accounts:dashboard' %}" class="btn">
                Dashboard
            </a>

            <a href="{% url 'accounts:profile-edit' %}" class="btn">
                Edit Profile
            </a>
             <div id="circle">
        <h1>You saved</h1>
        <h2> €</h2>
        <small>Real money saved by real users</small>
    </div>
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">
                    Logout
                </button>
            </form>

        </div>

    </div>

</div>

{% endblock %}