{% extends 'common/base.html' %}
{% block body %}
{% load currency_symbols %}

<section class="header-content">

    <div id="pre-circle">
        <h1>Never overpay again</h1>
        <p>
            Track product prices automatically and get notified the moment
            they drop. Simple, smart and stress-free.
        </p>
        <br>
        <a href="{% url 'alert:create' %}" class="btn">Start Tracking a Price</a>
        <br><br>
        <a href="{% url 'alert:alert_list' %}" class="hvr">Active tracks: {{ counter }}</a>
        &nbsp;•&nbsp;
        <a href="{% url 'alert:history_list' %}" class="hvr">Successful tracks: {{ counter_archive }}</a>
    </div>

       <div id="middle">
         <p>Average time to trigger:
         {% if avg is not None %}
             <strong>
                  {% if avg > 1 %}
                       {{ avg }} days
                    {% elif avg == 1 %}
                        {{ avg }} day
                    {% else %}
                        Less than a day
                    {% endif %}
            </strong></p>
         {% else %}
         <p>Still not finished tracks</p>
         {% endif %}

    {% if best_category %}
        <p>Most profitable category: <strong>{{ best_category.category_title }} - {{ best_category.total_saved }} €</strong> </p>
    {% endif %}

    </div>
    <div id="circle">
        <h1>Together users saved</h1>
        <h2>{{ saved_money }} €</h2>
        <small>Real money saved by real users</small>
    </div>

</section>

<h2>Find your best deal today</h2>
<p> These are the most successful price drops tracked by our users.</p>


{% include 'common/card_archive_base.html' %}

<a href="{% url 'alert:history_list' %}" class="hvr"> View all successful tracks → </a>

{% endblock %}
