{% load static %}

<div class="header_view">
        <div class="icon-price"><img src="{% static 'img/trackydeal-logo.svg' %}" alt="logo"></div>

            <nav>
                <a href="{% url 'alert:alert_list' %}" class="nav-primary"><strong>Tracks</strong>
                    <span class="material-icons star-icon" title="Most important">bolt</span></a>
                <a href="{% url 'common:home-page' %}"><strong> Home</strong></a>
                <a href='{% url "product:product_list" %}'><strong> Products</strong></a>
                <a href='{% url "catalog:catalog-overview" %}'><strong> Categories</strong></a>
                <a href='{% url 'product:create' %}'><strong> Add Product</strong></a>
                <a href='{% url "catalog:create" %}'><strong> Add Category</strong></a>
                <a href='{% url "alert:create" %}'><strong> Add Tack</strong></a>
            </nav>
        </div>
