{% extends 'common/base.html' %}
{% load currency_symbols %}
{% block body %}

<section class="header-content">
    <div id="pre-circle">
        <h1>{{ category.title }}</h1>
        <h4>{{ category.description }}</h4>
    <br>
        {% if last_deal is not None %}
            <p>
                Last successful deal:
                <strong>
                    {% if last_deal == 0 %}
                        today
                    {% elif last_deal == 1 %}
                        {{ last_deal }} day ago
                    {% else %}
                        {{ last_deal }} days ago
                    {% endif %}
                </strong>
            </p>
            <br>
            <a href="{% url 'alert:create' %}" class="btn">Start tracking a product</a>
        {% else %}
            <p>No successful deals yet. Start tracking products to unlock savings.</p>
            <a href="{% url 'alert:create' %}" class="btn">Start your first track</a>
        {% endif %}
    </div>

</section>
        <h3>All current products in this category:</h3>

<section class="card-container">

    {% for product in products %}
        {% include 'common/card_product_base.html' %}
    {% empty %}
        {% include 'common/card_product_empty.html' %}
    {% endfor %}

</section>

    <a href="#" class="btn btn-secondary" onclick="history.back(); return false;">← Go back</a>
{% endblock %}
